.main_page{
    height: max-content;
    margin-right: 2em;
}

.profile{
    width: calc(100%);
    background-color: #e49e47;
    box-shadow: 0 2px 5px 1px;
    border-radius: 5px;
    margin: 2em ;
}

.profile_head{
    padding: 1em;
    display: flex;
    gap: 5em;
    /* background-color: yellow; */
}

.profile_image{
    place-items: center;
    height: 30vh;
    
}

.profile_img{
    height: 100%;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px 1px; */
    border-radius: 5px;
}

.profile_body{
    display: flex;
    /* height: 60vh; */
    margin-left: 4em;
    /* background-color: red; */
}

.profile_history,
.profile_testimonals{
    /* width: 25%; */
    /* background-color: #fff; */
    margin: 1em;
    padding: 1em;    
}


li{
    list-style-type :square;
}





