.main_page{
}
.propLander{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 2px dotted black;
}
.propImages{
    height: 50vh;
}
#myimage{
    max-width: 10em;
    height: inherit;
}
.propLocation{}
.city{}
.area{}
.money{}
.propQuicks{}
.bookNow{}
.talkToOwner{}
.facilities{}
.facility{}
.facIcon{}
.facName{}
.detContainer{}
.details{}
.reviewSection{}
.reviewTitle{}
.reviews{}
.reviewCard{}
.tennet{}
.tennetImage{}
.tennetName{}
.review{}
.mapContainer{}
.address{}
.map{}