<div class="footer_about">
    <h2>ABOUT US</h2>
    <p>
        RoomeR is a web application designed to simplify the process of finding and booking rooms, flats, hostels, 
        and PG accommodations. The platform provides users with an easy-to-use interface to search for properties 
        based on various criteria such as location, type, ratings, and availability.
    </p>
</div>

<div class="footer_nav">
    <h2>Quick Links</h2>
    <section class="footer_links">
        <a href="index.php">Home</a>
        <a href="#">Book now</a>
        <a href="#">Special Offers</a>
        <a href="#">Rooms and Flats</a>
        <a href="#">Reviews</a>
        <a href="#">Testimonals</a>
    </section>
    <br><br><br>
    <p>@Copyright 2023 all rights reserved by RoomeR.</p>
</div>

<div class="footer_contact">
    <h2>Connect</h2>
    <section class="footer_links">
        <a href="#">Email : writeto@roomers.org</a>
        <a href="#"> +91 9080706050</a>

    </section>

    <h2>Social Media</h2>
    <section class="footer_links">
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Fackbook</a>
    </section>
</div>