<!-- 
    0. Chat functionality to be more productive and resourcefull. 

    1. Our Goal is to help students/employees who want to shift to a new city for studying or a job or for college what so ever 
        to find the best place for them as per their requirments.
        they should be able to locate the mess, libraries, canteeens, classes grocery shops and other necessary stores and then decide where
        they would like to relocate.
        -> generally other web sites don't provide the facilty to understand the area.
        -> this will help solve lots of there problems during the phase to relocating.
        -> they will be able have a better understanding of that area before starting to live there.

    2. We will provide a platform for them where they can se the location of neerby libraries, messes, classes, clubs, NGO's etc..
        -> those will also be able to advertise their products.
        -> 

    3. 


 -->